input:focus,
textarea:focus {
  outline: none;
}

.form_container {
  border-color: black;
  border-width: 0px 1px 0px 1px;
  border-style: solid;
  margin: 0% 25% 0% 25%;
  padding: 3% 2% 3% 2%;

  color: white;

  display: flex;

  flex-direction: column;
}

.input_field_container {
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  border: 1px solid #ccc;
  width: 100%;
  border-radius: 4px;
}

.form_input {
  display: flex;
  flex-direction: column;

  margin-bottom: 20px;
}
.input_field_container_no {
  border-radius: 5px;
  background-color: #dfe9fb;
  border-width: 1px;
  border-style: solid;
  border-color: #949494;
  padding: 13px;
  width: 15%;
  margin: 0px 0px 15px 0px;
}

.input_label {
  font-size: 14px;
  margin-bottom: 5px;
  position: relative;
  min-height: 1px;

  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1.42857143;
  color: #333;
  display: inline-block;
  max-width: 100%;
  margin-bottom: 10px;
  font-weight: 700;
}

.closebtn {
  padding-left: 10px;
  align-content: center;
  color: black;
  font-weight: lighter;
  float: right;
  font-size: 20px;
  cursor: pointer;
}

.chip_block {
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.chip_wrapper {
  margin-right: 6px;
  margin-bottom: 10px;
  display: flex;
  flex-wrap: wrap;
}
.chip {
  white-space: nowrap;
  color: black;
  border: 2px solid gray;
  padding: 0 25px;
  height: 30px;
  font-size: 12px;

  border-radius: 14px;

  align-items: center;
  display: flex;
  cursor: pointer;
}

.city_chip {
  white-space: nowrap;
  /* color: black; */
  /* border: 2px solid gray; */
  font-size: 12px;
  padding: 2px;
  border-radius: 10px;
  margin: 2px 3px 3px 3px;
  align-items: center;
  display: flex;
  cursor: pointer;
}
.city_chip_change {
  white-space: nowrap;
  /* color: black;
  border: 2px solid gray; */
  font-size: 12px;
  padding: 2px;
  border-radius: 10px;
  margin: 2px 3px 3px 3px;
  align-items: center;
  display: flex;
  cursor: pointer;
  /* background-color: #1a73e8; */
}

.new_chip_change {
  white-space: nowrap;

  padding: 0 25px;
  height: 30px;
  font-size: 12px;

  border-radius: 14px;

  align-items: center;
  display: flex;
  cursor: pointer;
}
.schip_new {
  margin-left: 10px;
  white-space: nowrap;
  padding: 0 25px;
  height: 30px;
  font-size: 12px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
  border-radius: 14px;

  align-items: center;
  display: flex;
  cursor: pointer;
}

.text_area {
  padding: 20px;
  margin: 10px 0 10px 0;
  border-width: 1px;
  border-style: solid;
  border-color: black;
  font-size: large;

  height: 200px;
}

.dialog {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
}
.dialog_hide {
  display: none; /* Hidden by default */
  position: absolute; /* Stay in place */
  z-index: 1; /* Sit on top */
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
}

.dialog_content {
  background-color: #fefefe;
  margin: 200px 35% 0 35%;
  padding: 1%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  border: 1px solid #888;
  width: 30%;
}
.button {
  background-color: white;
  padding: 0;
  color: inherit;
  border: none;
  font-size: 20px;
}

.dialog_fields {
  display: flex;
  justify-content: center;
  color: black;
}

.continents {
  display: none;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  flex-wrap: wrap;
  background-color: white;
  flex-direction: column;
  border-top: 1px solid black;
}
.accordion_container {
  margin-bottom: 0;
  color: black;
  flex-wrap: wrap;
}

.accordion_elements {
  color: black;
  display: none;
  flex-direction: column;
  margin-bottom: 10px;
}
.city {
  display: flex;
  align-items: center;
  border-top: 1px solid black;

  flex-wrap: wrap;
}
.city_wrapper {
  display: flex;
  position: relative;

  flex-wrap: wrap;
  flex: 5;
  width: 100%;
}

.country {
  display: flex;
  flex-direction: column;

  margin-bottom: 20px;
}

.continent_header {
  padding: 10px;
  font-size: 12px;
  position: relative;
}

.select_country_header {
  padding: 10px;
  font-size: 14px;
  position: relative;
  color: black;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
}

.expand {
  position: absolute;
  right: 2px;
  font-size: 20px;
  cursor: pointer;
}

.input_chip {
  height: 35px;
  font-size: 15px;
  width: fit-content;
  border-width: thin;
  border-radius: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
  padding: 10px;
}

.add-button {
  border-radius: 20px;
  height: 35px;
}

.new_chip {
  align-items: center;
  align-self: center;
  font-size: 13px;
  font-weight: 400;
  border-radius: 4px;
  padding: 3px 5px;
  transition: 0.2s;
  color: #314b7f;
  background-color: #c8d3e9;
}

/* 
if( $('#i_4').attr('disabled') ){
  $('#i_4').removeAttr('disabled')
} else {
  $('#i_4').attr('disabled', true)
} */